html {
  box-sizing: border-box;
}

body {
  background: #619ea1;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100vh;
  margin: 0 auto;
}

.score-board__container {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: #ffffff;
  width: 100px;
  height: 50px;
  margin-bottom: 20px;
}

.score-board__score {
  flex: 1;
  position: relative;
  text-align: center;
}

.score-board__score.active:before {
  display: block;
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #f1c51b;
}

.score-board__score.player_2.active:before {
  right: 2px;
  left: auto;
}

.score-board__container  img {
  height: 50%;
}

.board__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 400px;
  height: 400px;
}

.board__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.cell--0,.cell--1,
.cell--3,.cell--4 {
  border-right: 2.5px solid #a6b098;
  border-bottom: 2.5px solid #a6b098;
}

.cell--2,.cell--5 {
  border-bottom: 2.5px solid #a6b098;
}

.cell--6,.cell--7 {
  border-right: 2.5px solid #a6b098;
}

.board__cell__mark {
  width: 80%;
}

.controller__container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 35px;
}

.controller__container button {
  margin: 0;
  padding: 0;
  background: inherit;
  border: none;
  color: #ffffff;
  font-size: 1.4rem;
  cursor: pointer;
}